body { 
    font-family: "Poppins", sans-serif; 
    margin: 0; 
}

header { 
    background-color: darkslateblue; 
    display: flex; 
    align-items: center; 
    justify-content: space-between; 
    padding: 0 20px;
    height: 120px; 
}

.logo { 
    height: 105px; 
}

.texto { 
    flex-grow: 1;
    display: flex; 
    justify-content: center; 
}

.texto input[type="search"] {
    width: 100%;
    max-width: 670px;
    padding: 10px;
    position: relative;
    right: 70px;
}

.atendimento a {
    position: relative;
    right: 90px;
    text-decoration: none;
    color: white;
}

.icons {
    display: flex;
    gap: 50px;
}

.img1{
    position: relative;
    right: 30px;
}

.img2 {
    position: relative;
    right: 30px;
}

.img1 img, .img2 img {
    width: 40px;
}